:root {
    --color-1: #79599e;
    --color-2: #48355e;
    --color-3: #aa7cde;
    --color-4: #b483eb;
    --color-5: #966ec4;
    --color-fondo: #fff;
    
    --color-texto-claro: #fff;
    --color-texto-oscuro: #000;

    --shadow: 0 25px 20px 0 #00000030;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template:
        "header" 4em
        "presentacion" 15em
        "planes" auto
        "preguntas" auto
        / 1fr;
    font-size: 3em;
    font-family: 'Comfortaa', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    background: var(--color-fondo);
    box-shadow: var(--shadow);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.boton-menu {
    font-size: 1.75em;
    color: var(--color-texto-oscuro);
}

.logotipo--img {
    height: 1.6em;
}

/*ver tema de fondo, en el figma el título "Planes" no está*/
/*otra cosa, viste que en el figma están las puntas de las cartas redondeadas? bueno, creería que es mejor
dejarlas cuadradas siguiendo la lógica de los cortes de colores, fondos y todo eso*/
.planes {
    text-align: center;
    background: url(/img/pattern.png);
}

.presentacion {
    grid-area: presentacion;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0005, #0000), top left/cover no-repeat fixed url("/img/fondo1-600w.png");
    box-shadow: var(--shadow); /*no sé por qué no se aplica*/
    /*background: var(--color-fondo) url("/img/fondo1-600w.png") no-repeat fixed left center;*/
    /* TODO: Hacer que el fondo sea de varias resoluciones */
}

.presentacion--titulo {
    color: #fff;
    text-align: center;
    font-size: 1.75em;
    font-weight: 01;
}

.boton {
    background: var(--color-3);
    text-decoration: none;
    padding: .85em;
    border-radius: 10px;
    color: var(--color-texto-claro);
    box-shadow: 0 4px 4px 0 #00000030;
}

.planes {
    grid-area: planes;
}

.lista-planes {
    display: flex;
    overflow-x: scroll;
    max-width: 100vw;
    box-shadow: var(--shadow);
}

/*después nos fijamos bien eso de que las cards sean ajustables el ancho al texto*/
.plan {
    flex-shrink: 0;
    --border: .5px solid var(--color-texto-oscuro);
    border: var(--border);
    border-radius: 0em;
    background: var(--color-fondo);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 1.3em;
    align-items: center;
}

.plan--titulo {
    background: var(--color-3);
    color: var(--color-texto-claro);

}

.plan--caracteristicas {
    font-size: 1.2em;
}

/*agregué la class style--caracteristicasx para probar diferentes estilos en las 3 cards*/
.plan--caracteristicas--stylecard1 {
    list-style-type: none;
}

.plan--caracteristicas--stylecard2 {
    list-style-type: circle;
}

.plan--caracteristicas--stylecard3 {
    list-style-type: style color var(--color-2);
}
/*la idea sería que nos quedemos con la que quede mejor*/


.preguntas {
    grid-area: preguntas;
    text-align: center;
}

