body {
    grid-template:
        "header" 4em
        "presentacion" minmax(600px, 60vh)
        "planes" auto
        "preguntas" auto
        "footer" auto
        / 100%;
}

.presentacion {
    background: linear-gradient(90deg, #0008, #0000), top left/cover no-repeat fixed url("/img/fondo2-600w.png");
}

.presentacion-wrapper {
    align-items: flex-start;
}

.presentacion--titulo {
    font-size: 3em;
    text-align: left;
}

.planes {
    display: flex;
    justify-content: center;
}

.tns-outer {
    max-width: 800px;
}
